version: '3.8'

services:
  nginx:
    image: nginx:latest
    container_name: nginx-server
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./html:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./grb-amateur.space.pem:/etc/ssl/grb-amateur.space.pem:ro
      - ./private.key:/etc/ssl/private.key:ro
    restart: unless-stopped
    networks:
      - webnet

networks:
  webnet:
    driver: bridge
