services:
  nginx:
    image: eguefif/grb-amateur:nginx-latest
    ports:
      - "127.0.0.1:4000:80"
    depends_on:
      - backend
    networks:
      - default

  backend:
    image: eguefif/grb-amateur:backend-latest
    ports:
      - "127.0.0.1:8000:8000"
    secrets:
      - backend-secrets
    networks:
      - default

  alertsys:
    image: eguefif/grb-amateur:alertsys-latest
    secrets:
      - alertsys-secret
    depends_on:
      - backend
    networks:
      - default

networks:
  default:
    driver: overlay

secrets:
  backend-secrets:
    external: true
  alertsys-secret:
    external: true
